:root {
    --maincolor: rgb(54, 54, 54);
    --seccolor: #201F21;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.loading_background {
    width: 100%;
    height: 100%;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
}

.load_img {
    height: 100%;
    width: 29%;
}

.loading_bar_con {
    width: 29%;
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0;
    z-index: 1100;
}

.loading_bar {
    width: 1%;
    height: .5vh;
    border-radius: .7vw;
    background: linear-gradient(to left, rgb(118, 255, 33), rgb(255, 157, 173), rgb(171, 29, 171));
    animation: loading_bar 7s linear forwards;
}

@keyframes loading_bar {
    0% {
        width: 0%;
    }

    10% {
        width: 10%;
    }

    20% {
        width: 20%;
    }

    30% {
        width: 30%;
    }

    40% {
        width: 40%;
    }

    50% {
        width: 50%;
    }

    60% {
        width: 60%;
    }

    70% {
        width: 70%;
    }

    77.25% {
        width: 87%;
    }

    80% {
        width: 87%;
    }

    90% {
        width: 90%;
    }

    100% {
        width: 100%;
    }
}

.loading {
    font-size: 2vw;
    font-weight: bold;
    position: fixed;
    top: 40vh;
    z-index: 1100;
    cursor: default;
    color: white;
    pointer-events: none;
}

.loading::selection {
    background-color: #ffffff00;
}

.nukta::selection {
    background-color: #ffffff00;
}

.dots span {
    animation: blink 1.4s infinite step-start;
}

.dots span:nth-child(1) {
    animation-delay: 0s;
}

.dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {

    0%,
    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.spinner {
    cursor: default;
    position: fixed;
    top: 26vh;
    z-index: 1100;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border: .6vw solid #ffc76d;
    animation: spinner-bulqg1 0.8s infinite linear alternate, spinner-oaa3wk 1.6s infinite linear;
}

@keyframes spinner-bulqg1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
}

@keyframes spinner-oaa3wk {
    0% {
        transform: scaleY(1) rotate(0deg);
    }

    49.99% {
        transform: scaleY(1) rotate(135deg);
    }

    50% {
        transform: scaleY(-1) rotate(0deg);
    }

    100% {
        transform: scaleY(-1) rotate(-135deg);
    }
}

.icon_con {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9vw;
    bottom: 4vh;
}

.icons {
    cursor: pointer;
    width: 3.3vw;
    height: 7vh;
    pointer-events: all;
}

.telegram {
    width: 3vw;
    height: 6vh;
}

.telegram::selection{
    background-color: rgba(255, 255, 255, 0);
}

.maincontainer {
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.heading_container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 25%;
    margin: .5vh 0 0 1.5vw;
}

.name_con {
    display: flex;
    align-items: center;
}

.img1 {
    pointer-events: none;
    width: 2.3vw;
}

.name {
    color: white;
    font-size: 1.3vw;
    font-weight: 600;
    margin: 1vh 0 .5vh 0;
}

.rank_perhour {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rank_bar {
    background-color: #ffffff00;
    width: 35%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.rank {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rank_txt1 {
    color: white;
    margin: 0;
    font-size: .9vw;
    font-weight: 600;
}

.rank_txt2 {
    color: rgb(131, 131, 131);
    margin: 0;
    font-size: .9vw;
    font-weight: 600
}

.bar {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 1vh;
    border-radius: 10px;
    margin-top: 1vh;
    border: 0.1px solid rgba(132, 132, 132, 0.433);
    background-color: #4b4b4b4e;
}

.extand_bar {
    height: .7vh;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(118, 255, 33), rgb(255, 157, 173), rgb(171, 29, 171));
}

.perhour {
    background-color: #ffffff26;
    width: 55%;
    height: 6.5vh;
    margin-right: 1.5vw;
    border-radius: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 0px -1vw 1vw 0px #ffcd4d21;
    cursor: pointer;
}

.img2 {
    pointer-events: none;
    width: 2.2vw;
}

.coinsperhour {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profithour_txt {
    margin: 0;
    font-size: .5vw;
    color: rgb(165 165 165 / 81%);
}

.coins_hour {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 0.12vw;
    height: 4vh;
    background-color: #898989a1;
}

.img3 {
    pointer-events: none;
    width: 1.4vw;
    margin-left: .8vw;
}

.coinsinhour_txt {
    color: white;
    font-size: .8vw;
    font-weight: 600;
    margin: 0 0 .2vw .4vw;
}

.img4 {
    pointer-events: none;
    width: 1vw;
    margin-right: .8vw;
    margin-left: .6vw;
}

.setting {
    color: #eeeeee;
    font-size: 1.4vw;
}

.hide_container {
    width: 23%;
    height: 70%;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -1vw 1vw .5vw #ffcd4d7d;
}

.container {
    width: 25%;
    height: 85%;
    margin-top: 15vh;
    border-radius: 2vw;
    border-top: .15vw solid #ffcb4d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: var(--seccolor);
    position: fixed;
    z-index: 9;
}

.head_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
}

.boxes1 {
    width: 7vw;
    height: 15vh;
    border-radius: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--maincolor);
}

.dot {
    width: .47vw;
    height: 1.1vh;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    top: 18vh;
    margin-left: 5.5vw;
}

.d1 {
    animation: blinking infinite 1.3s linear;
}

.d2 {
    animation: blinking infinite 1.3s linear;
}

.d3 {
    animation: blinking infinite 1.3s linear;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.daily_imgs {
    pointer-events: none;
    width: 7.451vw;
    height: 15vh;
    border-radius: .9vw;
}

.times {
    margin: 0px 2.6vw;
    color: #bdbdbded;
    font-size: .7vw;
    font-weight: 400;
    position: fixed;
    top: 27.9vh;
    z-index: 99;
}

.center_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coin_con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img5 {
    pointer-events: none;
    width: 2.2vw;
}

.coins_txt {
    font-size: 1.8vw;
    font-weight: 700;
    color: white;
    margin: 0px 0px 0px .4vw;
}

.bttn {
    height: 40vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.click {
    width: 20vw;
    height: 42vh;
    border-radius: 50%;
    margin-top: 3vh;
    pointer-events: none;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

.floating-text {
    position: absolute;
    font-size: 2.6vw;
    font-weight: 600;
    color: rgb(255, 255, 255);
    animation: floatUp .8s forwards;
}

.fo_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22vw;
}

.boxes2 {
    width: 7vw;
    height: 6vh;
    border-radius: 10px;
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.energy {
    width: 2vw;
}

.energy_txt {
    color: white;
    font-size: 1.3vw;
    font-weight: 600;
    margin: 0 0 .2vw .1vw;
}

.box22 {
    width: 6vw;
    cursor: pointer;
    margin-left: 10vw;
}

.rocket_img {
    pointer-events: none;
    width: 2vw;
}

.boost_txt {
    color: white;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 0 0 .2vw .4vw;
}

.last_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 24vw;
    height: 10vh;
    border-radius: 1vw;
    background-color: var(--maincolor);
}

.boxes3 {
    width: 4.3vw;
    height: 8.9vh;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.last_imgs {
    pointer-events: none;
    width: 2.3vw;
}

.pickaxe {
    width: 2.2vw;
}

.friends {
    width: 2.7vw;
}

.box33 {
    margin-bottom: .4vw;
}

.last_coin {
    width: 2vw;
    margin-bottom: 0.5vh;
}

.last_txts {
    color: #cacaca;
    font-size: .8vw;
    font-weight: 400;
    margin: 0;
}

.box31 {
    background-color: #201F21;
}


@media (max-width:450px) {
    body {
        height: 120vh;
    }

    .heading_container {
        width: 98%;
    }

    .img1 {
        width: 8vw;
    }

    .name {
        font-size: 4vw;
        margin: 1vh 0 .5vh 1vw;
    }

    .rank_txt1 {
        font-size: 4vw;
    }

    .rank_txt2 {
        font-size: 3.5vw;
    }

    .bar {
        height: 3vw;
    }

    .perhour {
        border-radius: 13vw;
        background-color: #3f3d405c;
        width: 57%;
        box-shadow: inset 0px -2vw 2vw 0px #ffcd4d21;
    }

    .img2 {
        width: 8.5vw;
    }

    .profithour_txt {
        font-size: 2.5vw;
        margin-left: 1vw;
    }

    .line {
        width: .5vw;
    }

    .img3 {
        width: 6vw;
        margin-left: 2vw;
    }

    .coinsinhour_txt {
        font-size: 3.5vw;
        margin: 1vw 1vw 0 1vw;
    }

    .img4 {
        width: 3.5vw;
        margin-left: 1vw;
        margin-right: 2vw;
    }

    .setting {
        font-size: 5.5vw;
    }

    .hide_container {
        width: 100%;
        position: fixed;
        height: 92vh;
        box-shadow: 0px -4vw 4vw .5vw #ffc124a7;
    }

    .container {
        width: 100%;
        height: 107vh;
        border-top: .65vw solid #ffcb4d;
    }

    .head_container {
        width: 100%;
        position: relative;
        bottom: 6vh;
    }

    .daily_imgs {
        width: 30vw;
        height: 17vh;
        position: absolute;
    }

    .times {
        font-size: 2.7vw;
        position: relative;
        margin-bottom: 45.5vh;
    }

    .coin_con {
        position: relative;
        bottom: 12vh;
    }

    .img5 {
        width: 11vw;
    }

    .coins_txt {
        font-size: 8.5vw;
        margin-left: 2vw;
    }

    .click {
        position: relative;
        bottom: 10vh;
        width: 80vw;
        height: 45vh;
    }

    .floating-text {
        font-size: 5vh;
    }

    .fo_container {
        width: 68%;
        padding-bottom: 10vh;
        position: relative;
        bottom: 14vh;
    }

    .energy {
        font-size: 7.5vw;
    }

    .energy_txt {
        font-size: 5vw;
    }

    .rocket_img {
        width: 8.5vw;
    }

    .boost_txt {
        margin-left: 2vw;
        font-size: 6vw;
    }

    .last_container {
        position: fixed;
        border-radius: 4vw;
        bottom: 0;
        width: 95%;
        height: 9vh;
        z-index: 99;
        margin-top: 100vh;
    }

    .boxes3 {
        border-radius: 4vw;
        height: 8vh;
        width: 16.5vw;
    }

    .last_imgs {
        width: 9vw;
    }

    .last_txts {
        font-size: 3vw;
    }
}